/* GENERAL */

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: #F7F7F5;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

button {
    background-color: #D15656;
    color: #F7F7F5;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 32px;
}

/* background */

header, .sect1, footer {
    background-color: #004F52;
}

/* HEADER */

header {
    padding: 24px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #F7F7F5;
}

nav ul {
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

nav a {
    text-decoration: none;
    color: #CBCAC8;

}

/* SECTION 1 */

.sect1 {
    padding: 64px 240px;
    display: flex;
    gap: 48px;
}

.main-img {
    width: 85vw;
    height: 400px;
    object-fit: cover;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F7F7F5;
    margin: 0;
}

.sect1 p {    
    color: #CBCAC8;
    margin: 24px 0;
}

.sect1 button {
    border: none;
}

/* SECTION 2 */

.sect2 {
    padding: 80px 0; 
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #004F52;
    margin: 0;
}

.container {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.card {
    width: 200px;
    text-align: center;
}

.sect2 p {
    margin: 8px 0 0 0;
    color: #162121;
}

.sect2 img {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid #D15656;
}

/* SECTION 3 */
.sect3 {
    background-color: #CBCAC8;
    padding: 120px 320px;
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 24px;
}

.author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* SECTION 4 */
.sect4 {
    background-color: #D15656;
    border-radius: 20px;
    margin: 64px 240px;
    padding: 48px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sect4 button {
    border: 2px solid #F7F7F5;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #F7F7F5;
    margin: 0;
}

.sect4 p {
    font-weight: 300;
    color: #F7F7F5;
    margin: 8px 0 0 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 48px 0;
    color: #F7F7F5;
    font-size: 14px;
}